*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
    background: no-repeat url(../images/pattern-background-mobile.svg);
    background-size: cover;
}

.main{
    padding: 3rem;
}


.container{
    box-sizing: border-box;
    min-width: 300px;
    max-width: 450px;
    background:#ffffff;
    border-radius: 15px;
    margin: 0 auto;
}

.hero{
    box-sizing: border-box;
    min-width: 300px;
    max-width: 450px;
    
}

.hero img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.order-tab{
    box-sizing: border-box;
    min-width: 300px;
    max-width: 450px;
    text-align: center;
}

.order-tab h2{
    box-sizing: border-box;
    font-size: 30px;
}


.order-tab p{
    box-sizing: border-box;
    line-height: 1.2;
    padding: 10px 25px;
}


.order-tab .plan-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f8f9fe;
    box-sizing: border-box;
    width: 80%;
    margin: 30px auto;
    padding: 25px 0;
    border-radius: 10px;
}

.sub-info{
    box-sizing: border-box;
    flex: 1;
}

.sub-change{
    box-sizing: border-box;
    flex: 1.5;
}


.sub-change a{
    color:#5547e0;
    font-weight: bolder;
}

.payment{
    background: #382ae1;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    
}

.payment:hover{
    background: #5045ce;
}



.cancel{
    background: none;
    border: none;
    color: #292727;
    cursor: pointer;
    margin: 20px auto;
    
}

@media only screen and (max-width: 768px){
    .container{
        width: 80%;
    }
}